.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.confirm-box {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  width: 30rem;
}

.confirm-buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.cancel-box {
  background-color: #95a5a6;
  color: white;
}

.cancel-box:hover {
  background-color: #7f8c8d;
}
